.custom-we{
    padding: 70px 0 180px 0;
    .custom-p{
        font-size: 22px;
        letter-spacing: .5px;
    }
    h1{
        font-size: 50px;
    }
    p{
        padding: 10px 0 0 0;
    }
    .pt-3{
        font-size: 18px;
        color: #7b6881;
    }
    .custom-margin{
        margin-top: 80px;
    }
}